<!--line menu-->
<div class="line1">
    <div class="container">
        <div class="logo">
            <a href="/"><img src="img/logo.png"></a>
        </div>
        <div class="main_menu">
            <ul>
                 <li><a href="/" {% if page.path == "index.html" %}class="active_item"{% endif %}>Main</a></li>
                {% for link in site.data.menu %}
                <li><a href="{{ link.path }}" {% if page.path == link.path %}class="active_item"{% endif %}>
                    {{ link.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="main_menu_mobile">
            <div class="captionbutton">
                <button id="droop" type="button"><span class="glyphicon glyphicon-align-justify"></span></button>
            </div>
        </div>
    </div>

    <div class="drop_menu">
        <ul>
             <li><a href="/">Main</a></li>
            {% for link in site.data.menu %}
            <li><a href="{{ link.path }}">{{ link.name }}</a></li>
            {% endfor %}

        </ul>
    </div>
</div>