<!--line menu-->
<div class="line1">
    <div class="container">
        <div class="logo">
            <a href="/"><img src="img/logo.png"></a>
        </div>
        <div class="main_menu">
            <ul>
               	  <li><a href="/" {% if page.path == "index.html" %}class="active_item"{% endif %}>Main page</a></li>
	                <li><a href="/download.html" {% if page.path == "download.html" %}class="active_item"{% endif %} >Download</a></li>
	                <li><a href="/about_us.html" {% if page.path == "about_us.html" %}class="active_item"{% endif %}>About Us</a></li>
	             
            </ul>
        </div>
        <div class="main_menu_mobile">
            <div class="captionbutton">
                <button id="droop" type="button"><span class="glyphicon glyphicon-align-justify"></span></button>
            </div>
        </div>
    </div>
    <div class="drop_menu">
        <ul>
          	  <li><a href="/">Main page</a></li>
                <li><a href="/download.html">Download</a></li>
                <li><a href="/about_us.html">About Us</a></li>
               
        </ul>
    </div>
</div>