<div class="line2">
      <div class="container">
          <div class="main_slogan">
             SOFTSWITCH FOR HUMANS
          </div>
          <div class="second_slogan">
             SEMS + Ruby on Rails + PgSQL
          </div>
          <div class="main_image">
              <img src="img/m_img.png">
          </div>
          <div class="main_button">
            <a href="/demo.html"> <span class="glyphicon glyphicon-check"></span> Try YETI Demo</a>
          </div>
      </div>
  </div>